In [1]:
import pandas as pd
from collections import Counter
import json
from sklearn import preprocessing
from sklearn import svm, datasets
import sklearn.model_selection as model_selection
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [2]:
df = pd.read_csv('global_MFT_dataset.csv')
df.head()

,Unnamed: 0,sentence_ID,entity_name,fine_grain,sentence,global coarse grained
0,0,0,Out Hud,"['/person/musician', '/person/artist', '/person']",The band also shared membership with the simil...,person
1,1,0,LCD Soundsystem,"['/person/musician', '/person/artist', '/person']",The band also shared membership with the simil...,person
2,2,0,Cake,"['/person/musician', '/person/artist', '/person']",The band also shared membership with the simil...,person
3,3,1,Maserati,"['/person/musician', '/person/artist', '/person']","On November 8 , 2009 , the band 's former drum...",organization
4,4,1,Turing Machine,"['/person/musician', '/person/artist', '/person']","On November 8 , 2009 , the band 's former drum...",person

In [3]:
with open('global_entity_name_conceptNET_embeddings.json', 'r') as f:
    data = json.load(f)

In [4]:
entities = list(df['entity_name'].values)
coarse_grained = list(df['global coarse grained'].values)
X = []
out_of_vocab = 0
in_vocab = 0
y = []
for entity, coarse_grain in zip(entities,coarse_grained):
    if entity not in data:out_of_vocab+=1
    else:
        in_vocab+=1
        X.append(data[entity])
        y.append(coarse_grain)

In [5]:
out_of_vocab, in_vocab

(215586, 2394570)

In [6]:
le = preprocessing.LabelEncoder()
le.fit(y)
y_encoded = le.transform(y)

In [7]:
classes = list(le.classes_)
classes

['art',
 'broadcast_program',
 'building',
 'chemistry',
 'education',
 'event',
 'game',
 'geography',
 'government',
 'language',
 'living_thing',
 'location',
 'medicine',
 'military',
 'music',
 'organization',
 'people',
 'person',
 'product',
 'religion',
 'software',
 'title',
 'transportation',
 'written_work']

In [8]:
y[0],y_encoded[0]

('person', 17)

In [9]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y_encoded, train_size=0.80, test_size=0.20, random_state=101)

In [12]:
X_train = X_train[:957828]
y_train = y_train[:957828]

In [ ]:
rbf = svm.SVC(kernel='rbf', gamma=0.5, C=0.1).fit(X_train, y_train)
# poly = svm.SVC(kernel='poly', degree=3, C=1).fit(X_train, y_train)

In [ ]:
# poly_pred = poly.predict(X_test)
rbf_pred = rbf.predict(X_test)

In [11]:
1915656/2

957828.0